---
date: "2020-08-20T00:00:00+01:00"
draft: false
linktitle: Pandas
menu:
  example:
    parent: Memulai dengan Python 
    weight: 3
title: Menggunakan Pandas
toc: true
type: docs
weight: 3
editable: false
commentable: false
---

Pandas adalah *library* atau paket yang kita gunakan untuk mengutik-utik data. Beberapa hal sederhana yang anda dapat lakukan di pandas, dapat juga dilakukan dengan menggunakan Google Sheet atau Microsoft Excel. Jika anda lebih familiar dengan tools seperti tersebut, gunakan sheets juga nda papa. Lebih lagi, nge-print seluruh isi dataset di Pandas bisa makan memori jika data anda sangat besar. Anda dapat gunakan sheets untuk melihat datanya, tapi dimanipulasi di python juga bisa. *Whatever works for you*. Di sini, kita akan coba memanipulasi dengan pandas.

Kita memanggilnya pandas dengan:

In [1]:
import pandas as pd

setelah itu, semua fungsi yang terkait dengan pandas dapat kita gunakan dengan awalan `pd`. Dokumentasi lengkap soal fungsi apa saja yang ada di `pandas` dapat dibaca di [dokumentasi resmi di sini](https://pandas.pydata.org/pandas-docs/stable/index.html). Tentu saja anda juga bisa menggunakan gugel.

#### Menggunakan Pandas Datareader
Pertama, install dulu di anaconda prompt dengan menggunakan kode:
```
conda install -c anaconda pandas-datareader
```
Setelah selesai, kita bisa panggil dengan menggunakan impor
```
import pandas_datareader as pdr
```
Mari kita coba

#### Contoh: Mempersiapkan data untuk proyek akhir

Kita akan menggunakan contoh bagaimana saya mempersiapkan data untuk proyek akhir. Data yang saya gunakan adalah [World Development Indicators (bulk download)](http://datatopics.worldbank.org/world-development-indicators/) bikinan [The World Bank](https://www.worldbank.org/). Tentu saja anda tidak perlu mendownloadnya sendiri karena saya sudah mendownloadnya. muehehe. 

Datanya gede banget, sehingga tidak saya upload di website. Namun anda dapat dengan bebas mendownloadnya. Jika anda ingin mempraktikkan kode-kode yang digunakan di contoh ini, anda perlu download sendiri datanya dari link bulk download di atas.

Data utamanya memiliki ukuran 193,5 MB. Kalau dibuka pakai excel bisa memakan waktu lumayan lama. Datanya memiliki ekstensi .csv sehingga kita import dengan `pd.read_csv`.

In [2]:
df=pd.read_csv('C:/data WDI/WDIData.csv') # mengimpor data dari lokasi saya menyimpan data tersebut
df                                        # print

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.783289,83.120303,83.533457,83.897596,84.171599,84.510171,NaN,NaN,NaN,NaN
1,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,87.199474,87.512260,88.129881,87.275323,88.720097,89.308602,90.283638,89.286856,NaN,NaN
2,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,75.958878,77.251714,78.165706,75.512153,78.211000,79.065508,81.102134,79.248100,NaN,NaN
3,Arab World,ARB,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,96.466418,96.435957,96.772853,96.466705,96.936319,97.290083,97.467915,97.063959,NaN,NaN
4,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.260538,NaN,NaN,30.277130,NaN,NaN,37.165211,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377779,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.NEGL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,21.400000,NaN,NaN,NaN,21.400000,NaN,NaN,NaN,NaN,NaN
377780,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.900000,NaN,NaN,NaN,14.500000,NaN,NaN,NaN,NaN,NaN
377781,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.900000,NaN,NaN,NaN,3.700000,NaN,NaN,NaN,NaN,NaN
377782,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,30.500000,NaN,NaN,33.500000,32.400000,NaN,NaN,NaN,NaN,NaN
377783,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.100000,59.300000,59.500000,59.600000,59.600000,59.700000,59.700000,59.800000,NaN,NaN

Seperti anda lihat, data di atas aslinya besar sekali, mengandung lebih dari 370ribu baris dan 65 kolom. Setiap baris terdiri dari nama negara dan nama indikator, sementara kolomnya menandakan waktu. Bentuk seperti ini disebut juga dengan **Panel Data**, yaitu sebuah data yang memiliki struktur **cross section** (negara dan indikator) dan **time series** (tahun) sekaligus.

Untuk latihan, saya menggunakan data yang sifatnya **cross section**, yaitu terdiri atas nama negara dan nama indikator saja. Saya akan mengambil tahun 2017. Karena hanya menangkap indikator di satu tahun saja, makanya disebut **cross section**.

Gunakan `pd.info` untuk melihat tipe elemen dan ukuran (memori) data.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377784 entries, 0 to 377783
Data columns (total 65 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    377784 non-null  object
 1   Country Code    377784 non-null  object
 2   Indicator Name  377784 non-null  object
 3   Indicator Code  377784 non-null  object
 4   1960            37085 non-null   float64
 5   1961            41471 non-null   float64
 6   1962            43673 non-null   float64
 7   1963            43553 non-null   float64
 8   1964            44098 non-null   float64
 9   1965            46608 non-null   float64
 10  1966            46314 non-null   float64
 11  1967            48032 non-null   float64
 12  1968            47594 non-null   float64
 13  1969            49477 non-null   float64
 14  1970            70456 non-null   float64
 15  1971            76771 non-null   float64
 16  1972            79536 non-null   float64
 17  1973            79135 non-null   float64
 18  1974            80551 non-null   float64
 19  1975            84584 non-null   float64
 20  1976            86656 non-null   float64
 21  1977            90100 non-null   float64
 22  1978            89719 non-null   float64
 23  1979            90588 non-null   float64
 24  1980            95296 non-null   float64
 25  1981            97177 non-null   float64
 26  1982            98454 non-null   float64
 27  1983            98272 non-null   float64
 28  1984            99067 non-null   float64
 29  1985            100337 non-null  float64
 30  1986            101118 non-null  float64
 31  1987            102475 non-null  float64
 32  1988            102052 non-null  float64
 33  1989            103850 non-null  float64
 34  1990            127202 non-null  float64
 35  1991            132640 non-null  float64
 36  1992            136741 non-null  float64
 37  1993            137957 non-null  float64
 38  1994            139967 non-null  float64
 39  1995            148014 non-null  float64
 40  1996            147733 non-null  float64
 41  1997            148909 non-null  float64
 42  1998            150831 non-null  float64
 43  1999            156211 non-null  float64
 44  2000            181781 non-null  float64
 45  2001            172155 non-null  float64
 46  2002            176998 non-null  float64
 47  2003            177612 non-null  float64
 48  2004            182912 non-null  float64
 49  2005            195795 non-null  float64
 50  2006            194394 non-null  float64
 51  2007            198393 non-null  float64
 52  2008            197756 non-null  float64
 53  2009            197733 non-null  float64
 54  2010            213972 non-null  float64
 55  2011            204254 non-null  float64
 56  2012            207054 non-null  float64
 57  2013            202080 non-null  float64
 58  2014            208672 non-null  float64
 59  2015            205706 non-null  float64
 60  2016            204739 non-null  float64
 61  2017            187824 non-null  float64
 62  2018            166196 non-null  float64
 63  2019            84963 non-null   float64
 64  Unnamed: 64     0 non-null       float64
dtypes: float64(61), object(4)
memory usage: 187.3+ MB

kolom memiliki tipe `object` sementara nilainya memiliki tipe `float64` seperti yang telah diduga. Dengan info, kita juga dapat mengetahui `index` data kita, jikalau kita butuh memanggil-manggil mereka dengan menggunakan index.

Untuk saat ini, saya akan membuang kolom yang tidak perlu, antara lain `'Country Code'`, `'Indicator Code'`, dan semua tahun selain 2017. Sebuah catatan, jika anda sedang melakukan penelitian serius, kode negara dan kode indikator sangatlah penting. Selalu simpan data master yang tidak disentuh sama sekali sebagai *back-up*!!

Kembali ke laptop, kita drop kolom yang tidak perlu untuk latihan:

In [4]:
df=df.drop(columns=['Country Code','Indicator Code']) # menghapus variabel country code dan indicator code

In [5]:
# menghapus kolom 1960 - 2016
for i in range(1960,2017):
    a=str(i)
    df=df.drop(columns=a)

In [6]:
# menghapus kolom 2018 dan 2019
df=df.drop(columns=['2018','2019','Unnamed: 64'])
df

,Country Name,Indicator Name,2017
0,Arab World,Access to clean fuels and technologies for coo...,NaN
1,Arab World,Access to electricity (% of population),90.283638
2,Arab World,"Access to electricity, rural (% of rural popul...",81.102134
3,Arab World,"Access to electricity, urban (% of urban popul...",97.467915
4,Arab World,Account ownership at a financial institution o...,37.165211
...,...,...,...
377779,Zimbabwe,Women who believe a husband is justified in be...,NaN
377780,Zimbabwe,Women who believe a husband is justified in be...,NaN
377781,Zimbabwe,Women who were first married by age 15 (% of w...,NaN
377782,Zimbabwe,Women who were first married by age 18 (% of w...,NaN
377783,Zimbabwe,Women's share of population ages 15+ living wi...,59.700000

Kita telah sukses menghapus kolom-kolom yang tidak diperlukan. Data diatas seharusnya memiliki ukuran yang jauh lebih kecil dibandingkan sebelumnya.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377784 entries, 0 to 377783
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    377784 non-null  object
 1   Indicator Name  377784 non-null  object
 2   2017            187824 non-null  float64
dtypes: float64(1), object(2)
memory usage: 8.6+ MB

Dapat anda lihat di atas, sekarang ukuran data kita tinggal sekitar 8,6 MB saja. Jauh dibandingkan sebelumnya ya?

Nah, sekarang kita telah memiliki data yang sifatnya cross section, tapi cross sectionnya masih menurun ke bawah. Yang saya inginkan adalah data yang bentuknya kira-kira seperti ini:

|nama_negara|indikator_1|indikator_2|....|indikator_n|
|-----------|-----------|-----------|----|-----------|
|Afghanistan|angka_1|angka_2|....|angka_n|
|Australia|angka_1|angka_2|....|angka_n|
|....|....|....|....|....|
|Zimbabwe|angka_1|angka_2|....|angka_n|

Beberapa langkah harus kita lakukan

Pertama, anda dapat lihat bahwa observasi paling atas memiliki nama negara "Arab World". Tentu saja ini bukan nama sebuah negara, tapi nama sebuah regional. Jika kita panggil semua nama unik dari nama negara, anda akan mendapati bahwa nama-nama teratas adalah nama regional, bukan nama negara.

In [8]:
df.set_index(['Country Name','Indicator Name']) # set index

                                                                      2017
Country Name Indicator Name
Arab World   Access to clean fuels and technologies for cook...        NaN
             Access to electricity (% of population)             90.283638
             Access to electricity, rural (% of rural popula...  81.102134
             Access to electricity, urban (% of urban popula...  97.467915
             Account ownership at a financial institution or...  37.165211
...                                                                    ...
Zimbabwe     Women who believe a husband is justified in bea...        NaN
             Women who believe a husband is justified in bea...        NaN
             Women who were first married by age 15 (% of wo...        NaN
             Women who were first married by age 18 (% of wo...        NaN
             Women's share of population ages 15+ living wit...  59.700000

[377784 rows x 1 columns]

Sekarang, data kita sudah dibuat sedemikian sehingga index-nya adalah Country Name dan Indicator Name. Namun

In [9]:
df['Country Name'].unique()

array(['Arab World', 'Caribbean small states',
       'Central Europe and the Baltics', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia (IDA & IBRD countries)', 'European Union',
       'Fragile and conflict affected situations',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only',
       'IDA total', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle income', 'North America', 'Not classified', 'OECD members',
       'Other small states', 'Pacific island small states',
       'Post-demographic dividend', 'Pre-demographic dividend',
       'Small states', 'South Asia', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'World', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia, The',
       'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, Dem. People’s Rep.', 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

Nama individu negara baru dimulai setelah "world", tepat di Afghanistan ke bawah. Untuk itu, semua observasi di atas Afghanistan harus kita buang. Pertama cari tau dulu Afghanistan dimulai di observasi nomor berapa.

In [10]:
df['Country Name'][0:67260] # Dapat dimulai dari 0:1000 lalu angka di belakang ditambahkan jika belum ketemu Afghanistan
                            # dikurangi jika sudah kelewatan.

0         Arab World
1         Arab World
2         Arab World
3         Arab World
4         Arab World
            ...
67255          World
67256          World
67257    Afghanistan
67258    Afghanistan
67259    Afghanistan
Name: Country Name, Length: 67260, dtype: object

Dapat dilihat bahwa Afghanistan dimulai di baris ke-67257. Mari kita drop semua baris sebelum 67257.

In [11]:
df=df[67258:377784] # jangan lupa bahwa indexing di python dimulai di 0.
df                  # ngecek data kita setelah dibuang semua non-negara

,Country Name,Indicator Name,2017
67258,Afghanistan,Access to electricity (% of population),97.700000
67259,Afghanistan,"Access to electricity, rural (% of rural popul...",97.091973
67260,Afghanistan,"Access to electricity, urban (% of urban popul...",99.500000
67261,Afghanistan,Account ownership at a financial institution o...,14.893312
67262,Afghanistan,Account ownership at a financial institution o...,7.160685
...,...,...,...
377779,Zimbabwe,Women who believe a husband is justified in be...,NaN
377780,Zimbabwe,Women who believe a husband is justified in be...,NaN
377781,Zimbabwe,Women who were first married by age 15 (% of w...,NaN
377782,Zimbabwe,Women who were first married by age 18 (% of w...,NaN
377783,Zimbabwe,Women's share of population ages 15+ living wi...,59.700000

Sudah tampak cantik yah. Setelah itu, yang perlu kita lakukan adalah tinggal melakukan unstack data berdasarkan indicator name. kita harus set index terlebih dahulu terhadap dua `object` kita untuk menjadikannya cross section.

In [12]:
df=df.set_index(['Country Name','Indicator Name']) # set index
df

                                                                      2017
Country Name Indicator Name
Afghanistan  Access to electricity (% of population)             97.700000
             Access to electricity, rural (% of rural popula...  97.091973
             Access to electricity, urban (% of urban popula...  99.500000
             Account ownership at a financial institution or...  14.893312
             Account ownership at a financial institution or...   7.160685
...                                                                    ...
Zimbabwe     Women who believe a husband is justified in bea...        NaN
             Women who believe a husband is justified in bea...        NaN
             Women who were first married by age 15 (% of wo...        NaN
             Women who were first married by age 18 (% of wo...        NaN
             Women's share of population ages 15+ living wit...  59.700000

[310526 rows x 1 columns]

Nah, sekarang susunannya sudah sesuai dengan index yang kita inginkan. Terakhir, yang kita lakukan adalah `unstack` data berdasarkan nama indikator. Inilah yang agak susah dilakukan pakai sheets. (susah buat saya soalnya saya kurang jago microsoft excel).

In [13]:
latihan=df.unstack(['Indicator Name'])          # mindahin nama indikator sebagai kolom
latihan

                                                                                  2017  \
Indicator Name        ARI treatment (% of children under 5 taken to a health provider)
Country Name
Afghanistan                                                          NaN
Albania                                                              NaN
Algeria                                                              NaN
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                                   NaN
Yemen, Rep.                                                          NaN
Zambia                                                               NaN
Zimbabwe                                                             NaN

                                                                                            \
Indicator Name        Access to clean fuels and technologies for cooking (% of population)
Country Name
Afghanistan                                                          NaN
Albania                                                              NaN
Algeria                                                              NaN
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                                   NaN
Yemen, Rep.                                                          NaN
Zambia                                                               NaN
Zimbabwe                                                             NaN

                                                               \
Indicator Name        Access to electricity (% of population)
Country Name
Afghanistan                                         97.700000
Albania                                            100.000000
Algeria                                            100.000000
American Samoa                                            NaN
Andorra                                            100.000000
...                                                       ...
Virgin Islands (U.S.)                              100.000000
West Bank and Gaza                                  99.700000
Yemen, Rep.                                         79.200000
Zambia                                              40.300000
Zimbabwe                                            40.482048

                                                                            \
Indicator Name        Access to electricity, rural (% of rural population)
Country Name
Afghanistan                                                    97.091973
Albania                                                       100.000000
Algeria                                                       100.000000
American Samoa                                                       NaN
Andorra                                                       100.000000
...                                                                  ...
Virgin Islands (U.S.)                                         100.000000
West Bank and Gaza                                             99.070331
Yemen, Rep.                                                    68.766799
Zambia                                                         13.997699
Zimbabwe                                                       19.152600

                                                                            \
Indicator Name        Access to electricity, urban (% of urban population)
Country Name
Afghanistan                                                    99.500000
Albania                                                       100.000000
Algeria                                                       100.000000
American Samoa                                                       NaN
Andorra                                                       100.000000
...                                                                  ...
Virgin Islands (U.S.)                                         100.000000
West Bank and Gaza                                             99.900000
Yemen, Rep.                                                    97.735039
Zambia                                                         75.200000
Zimbabwe                                                       85.317101

                                                                                                                                       \
Indicator Name        Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+)
Country Name
Afghanistan                                                    14.893312
Albania                                                        40.015171
Algeria                                                        42.776627
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                             25.022177
Yemen, Rep.                                                          NaN
Zambia                                                         45.863258
Zimbabwe                                                       55.285137

                                                                                                                                               \
Indicator Name        Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)
Country Name
Afghanistan                                                     7.160685
Albania                                                        38.102959
Algeria                                                        29.268730
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                             15.910773
Yemen, Rep.                                                          NaN
Zambia                                                         40.278877
Zimbabwe                                                       51.664925

                                                                                                                                             \
Indicator Name        Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+)
Country Name
Afghanistan                                                    22.536495
Albania                                                        42.043503
Algeria                                                        56.254936
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                             34.436001
Yemen, Rep.                                                          NaN
Zambia                                                         51.680923
Zimbabwe                                                       59.227501

                                                                                                                                                     \
Indicator Name        Account ownership at a financial institution or with a mobile-money-service provider, older adults (% of population ages 25+)
Country Name
Afghanistan                                                    18.016499
Albania                                                        42.513248
Algeria                                                        48.747078
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                             33.076920
Yemen, Rep.                                                          NaN
Zambia                                                         48.338139
Zimbabwe                                                       58.877064

                                                                                                                                                    \
Indicator Name        Account ownership at a financial institution or with a mobile-money-service provider, poorest 40% (% of population ages 15+)
Country Name
Afghanistan                                                    13.802503
Albania                                                        22.751028
Algeria                                                        34.970802
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                             11.981574
Yemen, Rep.                                                          NaN
Zambia                                                         31.244963
Zimbabwe                                                       43.601181

                       ...  \
Indicator Name         ...
Country Name           ...
Afghanistan            ...
Albania                ...
Algeria                ...
American Samoa         ...
Andorra                ...
...                    ...
Virgin Islands (U.S.)  ...
West Bank and Gaza     ...
Yemen, Rep.            ...
Zambia                 ...
Zimbabwe               ...

                                                                                                                                                           \
Indicator Name        Women participating in the three decisions (own health care, major household purchases, and visiting family) (% of women age 15-49)
Country Name
Afghanistan                                                          NaN
Albania                                                              NaN
Algeria                                                              NaN
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                                   NaN
Yemen, Rep.                                                          NaN
Zambia                                                               NaN
Zimbabwe                                                             NaN

                                                                                                              \
Indicator Name        Women who believe a husband is justified in beating his wife (any of five reasons) (%)
Country Name
Afghanistan                                                          NaN
Albania                                                              NaN
Algeria                                                              NaN
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                                   NaN
Yemen, Rep.                                                          NaN
Zambia                                                               NaN
Zimbabwe                                                             NaN

                                                                                                                 \
Indicator Name        Women who believe a husband is justified in beating his wife when she argues with him (%)
Country Name
Afghanistan                                                          NaN
Albania                                                              NaN
Algeria                                                              NaN
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                                   NaN
Yemen, Rep.                                                          NaN
Zambia                                                               NaN
Zimbabwe                                                             NaN

                                                                                                                \
Indicator Name        Women who believe a husband is justified in beating his wife when she burns the food (%)
Country Name
Afghanistan                                                          NaN
Albania                                                              NaN
Algeria                                                              NaN
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                                   NaN
Yemen, Rep.                                                          NaN
Zambia                                                               NaN
Zimbabwe                                                             NaN

                                                                                                                              \
Indicator Name        Women who believe a husband is justified in beating his wife when she goes out without telling him (%)
Country Name
Afghanistan                                                          NaN
Albania                                                              NaN
Algeria                                                              NaN
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                                   NaN
Yemen, Rep.                                                          NaN
Zambia                                                               NaN
Zimbabwe                                                             NaN

                                                                                                                       \
Indicator Name        Women who believe a husband is justified in beating his wife when she neglects the children (%)
Country Name
Afghanistan                                                          NaN
Albania                                                              NaN
Algeria                                                              NaN
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                                   NaN
Yemen, Rep.                                                          NaN
Zambia                                                               NaN
Zimbabwe                                                             NaN

                                                                                                                      \
Indicator Name        Women who believe a husband is justified in beating his wife when she refuses sex with him (%)
Country Name
Afghanistan                                                          NaN
Albania                                                              NaN
Algeria                                                              NaN
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                                   NaN
Yemen, Rep.                                                          NaN
Zambia                                                               NaN
Zimbabwe                                                             NaN

                                                                                      \
Indicator Name        Women who were first married by age 15 (% of women ages 20-24)
Country Name
Afghanistan                                                          NaN
Albania                                                              NaN
Algeria                                                              NaN
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                                   NaN
Yemen, Rep.                                                          NaN
Zambia                                                               NaN
Zimbabwe                                                             NaN

                                                                                      \
Indicator Name        Women who were first married by age 18 (% of women ages 20-24)
Country Name
Afghanistan                                                          NaN
Albania                                                              NaN
Algeria                                                              NaN
American Samoa                                                       NaN
Andorra                                                              NaN
...                                                                  ...
Virgin Islands (U.S.)                                                NaN
West Bank and Gaza                                                   NaN
Yemen, Rep.                                                          NaN

Masih ada sedikit masalah di data ini, yaitu kita punya 2 headers, yaitu `2017` dan `Indicator Name`. Masalahnya adalah, kita tidak bisa langsung memanggil nama variabelnya. memanggil:
```python
latihan['Access to electricity (% of population)']
```
akan menghasilkan eror. Sementara itu, kita bisa panggil 2017, tapi nama kolom lainnya ikutan terpanggil. Coba kode ini:
```python
latihan['2017']
```

Cara yang terbaik adalah memanggil keduanya, di mana 2017 adalah nama kolom pertama, diikuti nama kolom yang kita inginkan.

In [14]:
latihan['2017']['Access to electricity (% of population)']

Country Name
Afghanistan               97.700000
Albania                  100.000000
Algeria                  100.000000
American Samoa                  NaN
Andorra                  100.000000
                            ...
Virgin Islands (U.S.)    100.000000
West Bank and Gaza        99.700000
Yemen, Rep.               79.200000
Zambia                    40.300000
Zimbabwe                  40.482048
Name: Access to electricity (% of population), Length: 217, dtype: float64

Jadi kita perlu membuang row paling atas yang berisi 2017. kita gunakan [fungsi](https://stackoverflow.com/questions/36529636/delete-second-row-of-header-in-pandas) `droplevel`

In [15]:
latihan.columns=latihan.columns.droplevel(0)
latihan

Indicator Name,ARI treatment (% of children under 5 taken to a health provider),Access to clean fuels and technologies for cooking (% of population),Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),"Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)","Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+)","Account ownership at a financial institution or with a mobile-money-service provider, older adults (% of population ages 25+)","Account ownership at a financial institution or with a mobile-money-service provider, poorest 40% (% of population ages 15+)",...,"Women participating in the three decisions (own health care, major household purchases, and visiting family) (% of women age 15-49)",Women who believe a husband is justified in beating his wife (any of five reasons) (%),Women who believe a husband is justified in beating his wife when she argues with him (%),Women who believe a husband is justified in beating his wife when she burns the food (%),Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who believe a husband is justified in beating his wife when she neglects the children (%),Women who believe a husband is justified in beating his wife when she refuses sex with him (%),Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),Women's share of population ages 15+ living with HIV (%)
Country Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,NaN,97.700000,97.091973,99.500000,14.893312,7.160685,22.536495,18.016499,13.802503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.3
Albania,NaN,NaN,100.000000,100.000000,100.000000,40.015171,38.102959,42.043503,42.513248,22.751028,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria,NaN,NaN,100.000000,100.000000,100.000000,42.776627,29.268730,56.254936,48.747078,34.970802,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.9
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,NaN,NaN,100.000000,100.000000,100.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virgin Islands (U.S.),NaN,NaN,100.000000,100.000000,100.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
West Bank and Gaza,NaN,NaN,99.700000,99.070331,99.900000,25.022177,15.910773,34.436001,33.076920,11.981574,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",NaN,NaN,79.200000,68.766799,97.735039,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.8
Zambia,NaN,NaN,40.300000,13.997699,75.200000,45.863258,40.278877,51.680923,48.338139,31.244963,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.3
Zimbabwe,NaN,NaN,40.482048,19.152600,85.317101,55.285137,51.664925,59.227501,58.877064,43.601181,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.7

mari kita coba panggil kolom `latihan['Access to electricity (% of population)']`

In [17]:
latihan['Access to electricity (% of population)']

Country Name
Afghanistan               97.700000
Albania                  100.000000
Algeria                  100.000000
American Samoa                  NaN
Andorra                  100.000000
                            ...
Virgin Islands (U.S.)    100.000000
West Bank and Gaza        99.700000
Yemen, Rep.               79.200000
Zambia                    40.300000
Zimbabwe                  40.482048
Name: Access to electricity (% of population), Length: 217, dtype: float64

Yup! Sudah bisa. Tidak eror lagi. Nanti, di proyek kalian, tentu akan males menulis berkali-kali nulis `latihan['Access to electricity (% of population)']` karena kepanjangan. Nanti anda bisa menamakan kembali kolom tersebut dengan nama yang lebih pendek dan gampang diambil. Tentu saja untuk proyek anda nanti, anda nggak harus memakai semua kolom yang ada di dataset ini. Itu dipikirkan nanti saja yah!

Terakhir, yang perlu kita lakukan adalah mengexport si `latihan` ke bentuk sheets supaya enak dilihat. Selalu gunakan ekstensi `.csv` yah!

In [16]:
latihan.to_csv("latihan.csv")

Seperti yang anda lihat, sebenarnya agak ribet ngutik-ngutik data dengan `Pandas`, apalagi jika anda paham menggunakan pivot table di excel atau google sheet. Salah satu cara terbaik ya tentu saja mengutik-utik datanya di excel atau google sheet, lalu di-save as dengan extensi `csv` sebelum dibaca di python. Tidak ada masalah. *Whatever works for you!*